/* Generic Styling */
body {
  overflow: hidden;
}

/* Top Level Styling */
.app {
  align-items: flex-end;
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
  width: 100%;
}

/* Cat Styling */
.cat {
  display: flex;
  overflow: hidden;
  transform: translateY(6em);
  width: 100%;
}

.cat__head {
  flex-grow: 7;
}

.face,
.ear {
  fill: black;
  stroke: black;
}

.mouth {
  stroke: white;
  stroke-width: 2;
}

.left-eye-pupil,
.right-eye-pupil {
  transform-origin: center;
}

.left-eye-outer,
.right-eye-outer {
  fill: black;
  stroke: white;
  stroke-width: 5;
}

.left-eye-inner,
.right-eye-inner {
  fill: white;
  stroke: black;
}

.pupil {
  fill: black;
}

.whisker {
  stroke: white;
  stroke-width: 4;
}

.nose-top {
  stroke: white;
  stroke-width: 6;
}

.nostril {
  fill: white;
}

/* Paw Styling */
.cat__paw {
  flex-grow: 1;
  transform: translateY(10em);
}

.cat__paw svg,
.cat__head svg {
  fill: none;
}

.paw path {
  fill: black;
  stroke: black;
}

#paw-pads .paw__pad {
  fill: white;
  stroke: white;
}

/* Bauble Styling  */
.bauble__container {
  position: absolute;
  top: 0;
  width: 150px;
}

.bauble__svg {
  fill: none;
}

.bauble-background {
  fill: black;
  stroke: white;
  stroke-width: 2;
}

.line {
  stroke: white;
  stroke-width: 2;
}

.star,
.zigzag {
  fill: white;
}
